/* .myMOUSE{
	cursor: url(hammer.png);
} */
/* .image111 {
	display: flex;
	justify-content: center;
  } */
/* Center images in More About Me section */

  /* #photos img {
	/* margin: 3px; */
  /* } */
   /* */ 
/* Center images in More About Me section */
/* #photos {
	display: flex;
	justify-content: center;
  }
  
  #photos img {
	margin: 0 10px;
  } */
  
/* .image-container {
	display: flex;
	align-items: center;
	margin: 0 3px;
} */
@font-face{
	font-family: Dancing;
	src: url("DancingScript-Regular.ttf");
}
h1{
	font-family: Dancing, monospace;
}
h2, h3, h4, h5, h6{
	font-family: "Roboto", monospace;
}

body {
	/* cursor: url(hammer.png); */
	cursor: url(shell.png), auto;
	background-color: rgb(247, 217, 244);
	animation-name: background;
    animation-duration: 10s;
	animation-iteration-count: infinite;
	/* font-family:Dancing */
}
@keyframes background {
	0%   {background-color: rgb(247, 229, 246);}
	20%  {background-color: rgb(244, 244, 225);}
	40%  {background-color: rgb(228, 244, 225);}
	60%  {background-color: rgb(195, 215, 252);}
	80% {background-color: rgb(240, 228, 254);}
	100% {background-color: rgb(244, 226, 242);}
  }
/* #BBDEF0 #CCD5AE #E9EDC9 #FEFAE0 #FAEDCD #98C1D9 #496B97 #AEC3B0*/

@keyframes background2 {
	0%   {background-color: #BBDEF0;}
	25%  {background-color: #edfaee;}
	50%  {background-color: #E9EDC9;}
	75% {background-color: #496B97;}
	100% {background-color: #AEC3B0;}
  }

nav {
	display: flex;
	/* width: fill-available; */
	/* justify-content: space-between; */
	/* align-items: center; */
	padding: 20px;
	background-color: #333333;
}

nav ul {
	display: flex;
	/* display: table; */
	width: 100%;
	margin: 0 auto;
}

nav ul li {
	margin: 0 30px;
	display: inline;
	width: 25%;
	font-family: "Fantasy", monospace;
	text-align: center; 
}



nav ul li a{
	color: #fff;
	font-size: 16px;
	text-decoration: none;
	padding: 0px;
}

nav ul li cursor{
	color: #fff;
	font-size: 18px;
	text-decoration: none;
	padding: 10px;
}
/* nav ul li a:hover {
	background-color: #fff;
	color: rgb(227, 210, 238);
} */
/* .nodot li{
	list-style-type: none;
} */

.image-block {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 auto 20px;
}

.image-block img {
	display: block;
	width: 200px;
	height: 200px;
}

.introduction-block {
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
}

.introduction-block h1 {
	font-size: 36px;
	margin-bottom: 10px;
}

.introduction-block p {
	font-size: 18px;
	line-height: 1.5;
}

main {
	/* cursor: url(hammer.png); */
	max-width: 80%;
	margin: 0 auto;
	padding: 2rem;
	background-color: #ffffffbc;
	box-shadow: 0 2px 4px rgba(0,0,0,.1);
	margin-top: 3rem;
	margin-bottom: 2rem;
	border-radius: 1rem;
	position: relative;
	z-index: 1;
}
main::before{
	content: "";
	position: absolute;
	top: -1.5rem;
	left: 0;
	right: 0;
	height: 3rem;
	z-index: -1;
}
.m1::before {
	background-color: #7ea4c9;
}
.m2::before {
	background-color: #cba9c0;
}
.m3::before {
	background-color: #AEC3B0;
}

section {
	margin-top: 2rem;
	padding: 1rem;
	border-radius: 0.5rem;
	/* background-color: #9a1f1f; */
	/* box-shadow: 0 2px 4px rgba(0,0,0,.1); */
}
section h2 {
	font-size: 1.5rem;
	margin: 0;
	margin-bottom: 1rem;
	color: #7ea4c9;
	text-shadow: 1px 1px #fff;
}
section p {
	margin: 0;
	line-height: 1.5;
}
/* ul.photos {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
}
ul.photos li {
	flex: 1;
	margin: 0.5rem;
}
ul.photos img {
	width: 100%;
	border-radius: 0.5rem;
	box-shadow: 0 2px 4px rgba(0,0,0,.1);
} */
ul.experience {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
}
ul.experience li {
	flex: 1;
	margin: 0.5rem;
	padding: 1rem;
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0,0,0,.1);
	border-radius: 0.5rem;
	text-align: left;
}
ul.experience li span {
	display: block;
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
	color: #7ea4c9;
	text-shadow: 1px 1px #fff;
}

ul.skills {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
}
ul.skills li {
	flex: 1;
	margin: 0.5rem;
	padding: 1rem;
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0,0,0,.1);
	border-radius: 0.5rem;
	text-align: center;
}
ul.skills li span {
	display: block;
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
	color: #7ea4c9;
	text-shadow: 1px 1px #fff;
}

.photos {
	display: flex;
	align-items: center;
	justify-content: space-evenly;  
}

.menu {
	display: flex;
	align-items: center;
	justify-content: space-evenly;  
}

/* .photo div {
	width: 100px;
	height: 100px;
} */

form {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0,0,0,.1);
	border-radius: 0.5rem;
	padding: 1rem;
	margin-top: 2rem;
	max-width: 500px;
	margin: 2rem auto;
}
form label {
	font-size: 1.2rem;
	margin-bottom: 0.5rem;
	color: #7ea4c9;
	text-shadow: 1px 1px #fff;
}
form input,
form textarea {
	padding: 0.5rem;
	border-radius: 0.5rem;
	border: none;
	background-color: #f2f2f2;
	box-shadow: 0 2px 4px rgba(0,0,0,.1);
	margin-bottom: 1rem;
}
form button[type="submit"] {
	padding: 0.5rem;
	background-color: #AEC3B0;
	color: #fff;
	border: none;
	border-radius: 0.5rem;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;
}
form button[type="submit"]:hover {
	background-color: #AEC3B0;
}

/* Hover effect for navigation menu links */
nav ul li a:hover {
	background-color: #ffffff00;
	/* color: rgb(0, 0, 0); */
	transform: scale(1.1);
}
.a1:hover {
	/* background-color: #fff; */
	color: #f3f9c5;
	/* transform: scale(1.1); */
}
.a2:hover {
	/* background-color: #fff; */
	color: rgb(88, 146, 233);
	/* transform: scale(1.1); */
}
.a3:hover {
	/* background-color: #fff; */
	color: #cba9c0;
	/* transform: scale(1.1); */
}
.a4:hover {
	/* background-color: #fff; */
	color: #AEC3B0;
	/* transform: scale(1.1); */
}


/* Hover effect for photo gallery images */
.photo-gallery img:hover {
	transform: scale(1.1);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

/* Animation for self-introduction block */
.introduction-block {
	animation: slide-in 1s ease-in-out;
}

@keyframes slide-in {
	from {
		transform: translateY(-100px);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

/* Animation for work experience block */
.experience-block {
	animation: slide-up 1s ease-in-out;
}

@keyframes slide-up {
	from {
		transform: translateY(100px);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}
.coverflow{
    width: 200px;
    height: 200px;
    position: relative; 
}
.coverflow > a{
    position: absolute;
    top: 15px;
    left:0;
    opacity: 0;
    filter: alpha(opacity=0);
    /*當圖片數量增加，影片長度需更改，變為5s*圖片數量*/
    -webkit-animation: silder 30s linear infinite;
            animation: silder 30s linear infinite;
}
.coverflow>a>img{
    max-width: 100%;
}

/*動畫關鍵影格*/
@-webkit-keyframes silder {
	3% {
        opacity: 1;
        filter: alpha(opacity=100);
    }
    27% {
        opacity: 1;
        filter: alpha(opacity=100);
    }
    30% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}
@keyframes silder {
	3% {
		opacity: 1;
		filter: alpha(opacity=100);
	}
	27% {
		opacity: 1;
		filter: alpha(opacity=100);
	}
	30% {
		opacity: 0;
		filter: alpha(opacity=0);
	}
}

/*每個圖片各延遲5秒*/
.coverflow>a:nth-child(6) {
    -webkit-animation-delay: 25s;
            animation-delay: 25s;             
  }

  .coverflow>a:nth-child(5) {
    -webkit-animation-delay: 20s;
            animation-delay: 20s;
  }

  .coverflow>a:nth-child(4) {
    -webkit-animation-delay: 15s;
            animation-delay: 15s;    
  }
  .coverflow>a:nth-child(3) {
    -webkit-animation-delay: 10s;
            animation-delay: 10s;             
  }

  .coverflow>a:nth-child(2) {
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
  }

  .coverflow>a:nth-child(1) {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;    
  }
/*滑入時停止播放*/
  .coverflow:hover>a{
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
}

/* ul.photos {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
} */
/* ul.photos li {
	flex: 1;
	margin: 0.5rem;
	padding: 1rem;
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0,0,0,.1);
	border-radius: 0.5rem;
	text-align: center;
}
ul.photos li span {
	display: block;
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
	color: #771e5e;
	text-shadow: 1px 1px #fff;
} */

  audio{
      display: none;
    }
	/* #BBDEF0 #CCD5AE #E9EDC9 #FEFAE0 #FAEDCD #98C1D9 #496B97 #AEC3B0*/